h3 {
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

label{
    margin: 0.5%;
}

button {
    border-radius: 1ch;
    border: solid black;
    padding: 1%;
}

.registerbutton{
    color: black;
    border-radius: 1ch;
    border: solid black;
    padding: 1%;
    margin-top: 1%;
}

    
