.menu-page{
    width: auto;
    display: flex;
    justify-content: center;
   align-items: stretch;
    flex-wrap: wrap;
    margin: 10px;

}

.menu-cards{
    width: 400px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.menu-img {
    width:  385px;
    height: 290px;
    object-fit: cover;
}

p{
    /* border: solid green; */
    margin: 2px;
}

.btn{
    /* border: solid red; */
    display: inline-block;
    width: auto;
    
}

button {
    cursor: pointer;
    /* border: solid red; */
}