thead{
    border: solid red;
}

.row {
    border: solid green;
    width: 100%;
}

td{
    border: solid yellow;
    margin: 10px;
    padding: 50px;
    width: auto;
    
    
}

.btn-delete{
    padding: 10px;
    cursor: pointer;
}

.btn-quantity{
    padding: 10px;
    margin: 5px;
}

.btn-span{
    padding: 10px;
}


